VITE_API_URL=http://localhost:8000

# OpenWeatherMap API Key (https://openweathermap.org/api)
VITE_OPENWEATHER_API_KEY=your_openweathermap_api_key_here

# Real-time mode (mqtt or api)
VITE_REALTIME_MODE=mqtt
# Polling interval in milliseconds (used when mode=api)
VITE_REALTIME_POLL_INTERVAL_MS=5000

# MQTT Configuration
VITE_MQTT_BROKER=d7b48187457f4e799b84ef68d8cf8783.s1.eu.hivemq.cloud
VITE_MQTT_PORT=8884
VITE_MQTT_USERNAME=seanoraspi
VITE_MQTT_PASSWORD=Seanoraspi24*
